* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
  }
  
  body {
    position: relative;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  dialog {
    border: none;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }