/* HEADER */
header {
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 2%;
}

header {
    img {
        width: 12.5rem;
    }
} 

/* HEADER PH PROFIL */
.ph-city {
    color: #901c1c;
    font-size: .9em;
    margin: 0;
}

.ph-infos {
    h2 {
        color: #D3573C;
        font-size: 50px;
        font-weight: 400;
        margin-bottom: 1rem;
    }
} 

.ph-profil {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: #fafafa;
    padding : 2em;
    margin: 0 20px;
    width: 100%;

    button {
        background: #901c1c;
        border: none;
        border-radius: 5px;
        bottom: 28px;
        color: #fff;
        cursor: pointer;
        font-size: 1em;
        font-weight: 500;
        width: 170px;
        height: 55px;
        left: 42rem;
        position: absolute;
        top: 12em;
    }

    button:hover {
        background: #651414;
        transform: scale(1.05);
    }

    img {
        height: 200px;
        width: 200px;
    }
}

.ph-tagline {
    color: #525252;
    font-size: .9em;
    margin: 0;
}

.tags-Phpage {
    border: .5px solid #C4C4C4;
    border-radius: .6875rem;
    color: #901C1C;
    font-size: 12px;
    margin: 0;
    padding: .0625rem .375rem;
    text-decoration: none;
    transition: all .2s;

    &:hover{
        background-color: #901C1C;
        color: #fff;
    }
}

/* PH WORKS MEDIAS */
#ph-works {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2.8125rem 0;
    padding: 0 1.25rem;
}

.btn-like {
    background: none;
    border: none;
    color: #901c1c;
    font-size: 1.1rem;
    margin-left: -.3rem;
}

.ph-work-elt {
    color: #901c1c;
    font-size: 1.1em;
    font-weight: 500;
    margin: 0 0 .625rem;
    width: 20.9375rem;

    .fa-heart:hover, img:hover, video:hover {
        cursor: pointer;
    }

    .ph-work-title {
        width: 14.0625rem;
    }

    img, video{
        border-radius: .3125rem;
        height: 11.875rem;
        object-fit: cover;
        width: 20.9375rem;
    }
}

.ph-work-elt-text {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

.ph-work-title {
    font-size: 1em;
    font-weight: 400;
}

.works-sort {
    display: none;
}

#box {
    display: none;
}