
/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    /*-----------------------------------BASE------------------------------------*/
    html{
        height: 100%;
        width: 100%;
    }
    body{
        margin: 0 2rem;
        height: 100%;
    }

    /*-------------------------------PAGE ACCUEIL---------------------------------*/
    nav{
        ul{
            top: 4%;
        }
        a{
            font-size: 18px;
        }
        .tags{
            top: 10%;
            li{
                margin-bottom: 1%;
            }
        }
    }

    section{
        margin-bottom: 0;
        height: 100%;
    }

    .cardphotograph{
        margin-bottom: 1em;
        width: 20rem;
    }
}



/*------format smartphone------*/
@media (max-width: 576px) {
    /*-----------------------------------BASE------------------------------------*/
    body {
        margin: 0 1rem;
    }
    
    /*--------------------------------PAGE ACCUEIL--------------------------------*/
    header {
        padding-top: 30px;        
        img{
            width: 9rem;
        }
        
        h1 {
            font-size: 14px;
        }
    }

    nav{
        ul{
            top: 100px;

            li{
                font-size: 12px;
                margin-bottom: 0.4rem;
            }
        }
    }

    .name{
        font-size: 36px;
        margin-bottom: 0;
    }

    .location , .tagline {
        font-size: 13px;
    }

    .price {
        font-size: 10px;
    }



    /*--------------------------------PAGE PHOTOGRAPHER--------------------------------*/
    .ph-infos{
        h2{
            font-size: 36px;
            margin-bottom: 0;
        }
        .ph-city{
            margin-bottom: 0.5em;
        }
        .ph-tagline{
            margin-bottom: 0.5em;
        }
        .tags-Phpage{
            font-size: 13px;
            margin-bottom: 0.5em;
            font-weight: 600;
        }
    }

    .ph-profil{
        padding: 0.5em;
        background: none;
        height: fit-content;
        img{
            height: 100px;
            width: 100px;
            position: relative;
            bottom: 25px;
        }
        button{
            position: fixed;
            font-size: 18px;
            height: 35px;
            left: 5.5em;
            top: inherit;
            bottom: 2%;

        }
    }
    /* Modal*/
    #form-dialog{
        top: 0;
        position: fixed;
        border-radius: 0;
        height: 100%;

        #close-btn{
            padding-top: 20%;
        }
    }

    form {
        height: 100%;
        header{
            padding-top: 3%;
            margin-bottom: 0;
        }
        h1{
            font-size: 36px;
            color: black;
        }
        label {
            font-size: 24px;
            margin-bottom: 0.2em;
        }
        .form-submit{
            font-size: 18px;
            height : 35px;
            margin-left: 23%;
            margin-top: 5%;
            padding:0.5em;
        }
        input{
            padding: 0.8rem;
        }
    }

    /*Médias*/
    .works-sort{
        display: none;
    }

    #ph-works{
        margin-top: 30px;
    }

    .ph-work-elt {
        margin: 0 .3rem 1rem;
        img, video{
            height: 10rem;
        }
        .ph-work-title{
            font-size: 14px;
        }
        .like-counter{
            font-size: 14px;
        }
    } 

    #box{
        display: none;
    }

    /*Lightbox*/
    #lightbox-body{
        top: 150px;
        height: auto;
        text-align: start;

        .close-lightbox-icon{
            top: auto;
            font-size: 1.2em;
        }

        #works_lightbox_name{
            font-size: 14px;
        }
    }
}