
/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    
/*-------------------------------PAGE ACCUEIL---------------------------------*/
        
}



/*------format smartphone------*/
@media (max-width: 576px) {
    /*-----------------------------------BASE------------------------------------*/
    body {
        margin: 0 1rem;
    }
    
    /*--------------------------------PAGE ACCUEIL--------------------------------*/
    header {        
        img{
            width: 9rem;
        }
        
        h1 {
            font-size: 14px;
        }
    }

    nav{
        ul{
            top: 100px;

            li{
                font-size: 12px;
                margin-bottom: 0.4rem;
            }
        }
    }

    .name{
        font-size: 36px;
    }

    .location , .tagline {
        font-size: 13px;
    }

    .price {
        font-size: 10px;
    }



    /*--------------------------------PAGE PHOTOGRAPHER--------------------------------*/
    .ph-infos{
        h2{
            font-size: 36px;
        }
    }

    .ph-profil{
        img{
            height: 100px;
            width: 100px;
        }
    }
}